{% extends "base.html" %}

{% block content %}

  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">{{page}}</h1>
    </div> 
    <main class="container">
      <div class="bg-body-tertiary p-5 rounded">
        {% for s in students %}
        <h2>{{ s.name }}</h2>
        <ul>
          {% for gr in s.group.all %}
          <li><a href="{% url "group" gr.slug %}" style="text-decoration: None">{{ gr.group_name }}</a></li>
          {% endfor %}
        </ul>
        <p class="lead">{{ s.content|linebreaks|truncatewords:40 }}</p>
        <a class="btn btn btn-secondary" href="{% url "student_post" s.slug %}" role="button">Read more</a>
        <hr>
        {% endfor %}
      </div>
    </main>
  </main>

{% endblock content %}