{% extends "base.html" %}


{% block content %}

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{student.name}}</h1>
        </div> 
        <main class="container">
            <div class="bg-body-tertiary p-5 rounded">
              <p style="font-size:50px">{{ student.name }}</p>
              <p class="lead" style="font-size:40px">ID: {{ student.id }}</p>
              <p class="lead">{{ student.content|linebreaks|truncatewords:100 }}</p>
              <a class="btn btn btn-secondary" href="{% url "index" %}" role="button">Back To Home</a>
              <hr>
            </div>
          </main>
    </main>   

{% endblock content %}